nav >a:nth-child(5){
    color:palevioletred;
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-image: url(images/contact.jpg);
    background-size: cover;
}


.contact{
    text-align: center;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    border: none;
}

.cf{
    position:absolute;
    right: 20px;   
}

h2 {
    font-family: 'Alkatra', cursive;
    text-align: center;
    color: #f91358;
}

.contact input ,.contact textarea {
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 20px;
}

.contact .sub_btn{
    height:50px;
    background-color: #f91358;
    color: white;
    font-family: 'Alkatra', cursive;
    border: none;
    border-radius: 20px;
    width: 25%;
    align-self: center;
}

.contact .sub_btn:hover{
    background-color: lightgray;
    color: #f91358;
    ;
}

@media (max-width:991px){
    .contact .sub_btn{
        max-width: 40%;
    }

    body{
        background-image: none;
        background: rgb(243,174,174);
        background: linear-gradient(0deg, rgba(243,174,174,1) 22%, rgba(241,202,210,1) 41%, rgba(251,235,235,1) 71%);
    }

    .cf{
        position:relative;     
    }
}